{%extends "base.html" %}

{% block title %} About {% endblock title %}

{% block content %}
<html>
        <title style="color:azure">RESUME</title>
    <body style="background-color: silver">
        <P>

            
        </P>
        <h2 style="padding-top: 120px; margin-left:200px; color: blue; font-size: 220%">EDUCATION:
        </h2>
        <p style="padding-left: 20px; margin-left:200px; color: red; font-size: 160%">[]Senior High School: Camarines Sur National High School</p>
        <p style="padding-left: 20px; margin-left:200px; color: red; font-size: 160%">[]Junior High School:Camarines Sur National High School </p>
        <p style="padding-left: 20px; margin-left:200px; color: red; font-size: 160%">[]Elementary  School: Canaman Central School</p>
    </body>
    <h2 style="padding-top: 50px; margin-left:200px; color: blue; font-size: 220%">AFFILATION:
        </h2>
        <h2 style="padding-top: 50px; margin-left:200px; color: blue; font-size: 220%">SKILLS/TRANING:
            </h2>
</html>

{% endblock content %}
