
{%extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}


<html style="background-color: silver">

    <title style="color:azure">CONTACT</title>
<div class="homepage">
    
    <h3 style="padding-top: 120px; margin-left:200px; color: blue; font-size: 220%">FullName:</h3>
    <h3 style="margin-left:200px; color: blue; font-size: 220%">Email:</h3>
    <h3 style="margin-left:200px; color: blue; font-size: 220%">Mobile Number:</h3>
    </div>

</html>
{% endblock content %}